@model vnface.Models.user_tb

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2 class="bg-success text-center">Chi tiết</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.face_image)
        </dt>

        <dd>
            <img src="/Assets/@Html.DisplayFor(model => model.face_image) " style="width:200px;height:250px"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>
