@model IEnumerable<vnface.Models.face_log_tb>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="/Assets/js/core/jquery.min.js"></script>
<script src="/Assets/js/core/popper.min.js"></script>
<script src="/Assets/js/core/bootstrap-material-design.min.js"></script>
<h2 class="bg-success text-center">FACE_LOG</h2>
<input type="text" placeholder="tìm kiếm" id="myInput" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.face_img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognize_img)
        </th>
        <th></th>
    </tr>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.face_img)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recognize_img)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/">Quay lại</a>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
